<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <table class="table">
        <thead>
            <h1>Hello , Someone you know has sent you some links using pinlinks.in</h1>
            <h2> Message:</h2>
            <h3> <%= @message %> </h3>
                  <tr>
                    <td>Link</td>
                    <td>Tags</td>
                    <td>Description</td>
                  </tr>
        </thead>
        <tbody id="links">
             <% @links.each do |link| %>
                  <tr>
                    <td> 
                        <%= link_to( "#{link.actual_link}" , "#{link.url}" , :target => '_blank') %>
                    </td>
                    <td>
                        <%= render(:partial => 'shared/show_link_tags', :locals => {:link => link})%>
                    </td>
                    <td>
                        <%= link.description if not link.description.nil?%>
                    </td>
                  </tr>
             <%end%> 
        </tbody>
      </table>
    <p>
      To share and send links in realtime visit <a href="www.pinlinks.in">pinlinks</a>
    </p>
    <p>PinLinks Team</p>
  </body>
</html>