<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <table class="table">
        <thead>
            <h1>Hello , Someone you know has sent you some links using pinlinks.com</h1>
            <h2> Message:</h2>
            <h3> <%= @message %> </h3>
                  <tr>
                    <td>Links</td>
                  </tr>
        </thead>
        <tbody id="links">
             <% @links.each do |link| %>
                  <tr>
                    <td> 
                        <%link_url = /^http/.match(link) ? link : "http://#{link}"%>
                        <%= link_to( "#{link}" , link_url ,:target => '_blank' ) %>
                    </td>
                  </tr>
             <%end%> 
        </tbody>
      </table>
    <p>
      To share and send links in realtime visit <a href="www.pinlinks.com">pinlinks</a>
    </p>
    <p>PinLinks Team</p>
  </body>
</html>