<form action="/add_link_description">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="describe" name="description">
      <span class="input-group-btn">
        <input type="hidden" name="link_id" value="<%=link.id%>">
        <button class="btn btn-success" style="display: none;" type="submit">Go!</button>
      </span>
    </div>
</form>
