<form action="/repo_search_results">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search repos/links" name="search">
      <span class="input-group-btn">
        <input type="hidden" name="user_name" value="<%=user.profile_name%>">
        <button class="btn btn-success" style="display: none;" type="submit">Go!</button>
      </span>
    </div>
</form>
