<% session_repos = session[:repo_names].split(",").uniq rescue []%>
  <table class="table">
    <thead>
      Repos created in this Session:
    </thead>
    <tbody id="repos_in_session">
      <% session_repos.each do |repo| %>
        <br/>
        <tr> <%=link_to(repo, no_user_repo_path(:repo_name => repo ) , :class => "link tag" , :method => :get)%> </tr>
      <%end%> 
    </tbody>
  </table>

